body {
  display: grid;
  align-items: center;
  justify-items: center;
  /* grid-template-rows: 1fr; */
  height: 100vh;
}

.empty-city {
  border: 2px solid red;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
